.modal_wrap {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 80%;
    max-width: 600px;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    transition: 0.5s;
}

.modal_content, .modal_header_title {
  font-size: 2rem;
}

.modal_close_button {
    cursor: pointer;
    font-size: 2rem;
    color: #555;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
  
.modal_overlay.active {
    opacity: 1;
    visibility: visible;
}