#root {
  overflow-x: hidden;
}

.main {
  display: flex;
  min-height: 100vh;
  height: 100%;
  font-size: 1.2rem;

}

.folderStructure {
  width: 50%;
  border-right: 1px solid #d8dee4;
}

.connect_folderStructure {
  width: 50%;
  border-left: 1px solid #d8dee4;
}

.folderStructure, 
.connect_folderStructure {
  min-height: 100%;
  padding: 0.5rem;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.folder_wrap {
  display: flex;
}

.verticalLine {
  position: absolute;
  width: 0.1rem; 
  background-color: #ddd;
  padding: 5px 0px;
  margin: 0px 0px 0px 6px;
}

.folder_header,
.file_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
}

.folder_header_icon {
  display: inline-block;
  background-image: url("../assets//images//appicon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 2rem;
  height: 2rem;
}

.file_header_icon {
  display: inline-block;
  background-image: url("../assets//images//fileicon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
}