#root {
  overflow-x: hidden;
}

.main {
  display: flex;
  min-height: 100vh;
  height: 100%;
  font-size: 1.2rem;

}

.folderStructure {
  width: 50%;
  border-right: 1px solid #d8dee4;
}

.connect_folderStructure {
  width: 50%;
  border-left: 1px solid #d8dee4;
  background: repeating-linear-gradient(45deg, #f0f0f0, #f0f0f0 10px, #d8dee4 10px, #d8dee4 20px); /* 빗무늬 배경 */
}

.folderStructure, 
.connect_folderStructure {
  min-height: 100%;
  padding: 0.5rem;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.vertical-line {
  color: gray;
}

.folder-icon {
  cursor: pointer;
}

.file {
  display: flex;
  align-items: center;
}
